<h1>Will Bradley's Public Github:</h1>

<h3>Hosted Apps</h3>
<ul>
  <li><a href="http://zyphlar.github.io/headline-count">FLITJ Headline Count Tool</a></li>
  <li><a href="http://zyphlar.github.io/printmaps">PrintMaps - Printable Google Map generator</a></li>
  <li><a href="http://zyphlar.github.io/bustdd-calculator">Bust'DD Bra Size Calculator</a></li>
  <li><a href="http://zyphlar.github.io/parametric-bag/">Parametric Bag Generator</a></li>
</ul>

<h3>Popular Public Repositories</h3>
<ul>
  <li><a href="https://github.com/zyphlar/netwatch.py">NetWatch.py - Turnkey Network Dashboard for a Raspberry Pi with a screen</a></li>
  <li><a href="https://github.com/zyphlar/tc-slowify">TC Slowify - Shell scripts to help you simulate slow network connections</a></li>
  <li><a href="https://github.com/zyphlar/pinger">Pinger.py - A ping tool that sits in your system tray</a></li>
  <li><a href="https://github.com/zyphlar/backup-rotation-script">Backup rotation script</a> for Linux servers</li>
  <li><a href="https://github.com/zyphlar/refile-watermark">refile-watermark: Refile plugin to use MiniMagick for watermarking</a></li>
  <li><a href="https://github.com/zyphlar/ip-camera-proxy">IP Camera Proxy</a> for displaying images from cheap webcams</li>
  <li>
    <ul>
    <li><a href="https://github.com/zyphlar/Open-Source-Access-Control-Web-Interface">Open Source Access Control Web Interface</a> (for managing a database of members in a collaborative grassroots workshop, and also controlling Arclight of 23b Hackerspace's Arduino access control system via Ethernet)</li>
    <li><a href="https://github.com/zyphlar/Open_Access_Control_Ethernet">Open Access Control - Arduino Ethernet version</a> (the physical component to the Web Interface above)</li>
    <li><a href="https://github.com/zyphlar/open-access-control-minimal-http">Open Access Control - HTTP Minimal Edition AKA Open Access Control Interlock</a> (like the Ethernet version, but for interlocking physical equipment instead of doors)</li>
    </ul>
  </li>
  <li><a href="https://github.com/zyphlar/affinitylive-php-contact-form">AffinityLive API Contact Form (PHP)</a></li>
  <li><a href="https://github.com/zyphlar/HighlightWhitespaces">Highlight whitespaces in code for SublimeText. Separate colors for tabs and spaces.</a></li>
  <li><a href="https://github.com/zyphlar/freshbooks-resizer">Chrome extension for minimizing the Freshbooks Timesheet timer window</a></li>
  <li><a href="https://github.com/zyphlar/edex-api-example">eSite / eDex / AMSI API example code in Ruby</a></li>
  <li><a href="https://github.com/zyphlar/arduino-rs232-twitter-signage">Sending tweets to an LED sign with RS232</a></li>
  <li><a href="https://github.com/zyphlar/SafeRent-API-Example">Unofficial, example code for interfacing with the CoreLogic SafeRent API (MITS)</a></li>
  <li><a href="https://github.com/zyphlar/Contract-Signer">An HTML5 and Ruby on Rails method for signing/managing contracts online via a tablet or mouse</a></li>
  <li>
    <ul>
      <li><a href="https://github.com/zyphlar/arduino-nagios-display">Arduino Nagios Display</a> an WiFi-enabled, Arduino-powered 8x5 LED matrix that displays Nagios status information</li>
      <li><a href="https://github.com/zyphlar/DaisyShift">DaisyShift</a> basically the same thing as above but updated and includes tutorials and schematics for building shift register circuit boards</li>
    </ul>
  </li>
  <li><a href="https://github.com/zyphlar/Dynect-PHP-API">CodeIgniter-Dynect API</a> Connecting to the Dynect API with CodeIgniter (PHP)</li>
</ul>
